


<div class="container">
  <div class="section">
    <h1>MOTIVATIONAL QUOTES.</h1><br>
    <p>
      <strong>EVERYONE IN LIFE NEEDS SOME MOTIVATIONAL INSPIRATION IN SOME WAY OR ANOTHER.SO WE HAVE COME 
        COME UP WITH AN APP WHERE PEOPLE CAN PICK UP SOME QUOTES AND EVEN CREATE THIER OWN QUOTES.
      </strong>
    </p>
    
  </div>
</div>

 <div class="container">
   <div class="row">
     <div class="col-sm-12">
       <h6>Some motivational quotes:</h6>
       <ul>
           <div *ngFor="let quote of wise; let i = index">
               <li>{{quote.name}} posted on{{quote.postDate|date}}</li>
               <button (click) = 'toggleDetails(i)'>Show Details</button>
               <app-quote-detail  [quote]="quote" (Delete) = 'quoteDelete($event,i)'></app-quote-detail>
           </div>
       </ul>
      
     </div>
    </div>
  </div>

   <div class="container">
     <div class="row">
       <div class="col-sm-12">
        <app-form (addQuotes)="addNewQuote($event)"></app-form>
       </div>
     </div>
   </div>
     <div class="col-sm-12">
       <app-form (addQuotes)="addNewQuote($event)"></app-form>
     </div>

   
 

